.toolbar {
  background-color:rgb(255, 255, 255); 
  max-height: 40px;
  border: 1px solid #cacacaa4;  
  display: flex;
  justify-content: start;
}
<<<<<<< HEAD
=======

>>>>>>> f4fc60c6ba92ba5b8b2edd50ce7412d1659de636
  .progress-tooltip {
    font-size: 14px;
    margin-right: 50px;
    margin-left: 15px;
  }
  .ProgressContainer {
    display: flex;
    justify-content: end;
    width: 100%;
  }
  .progressBar {
     width: 300px;
  }


  ::ng-deep .ant-slider-handle {
    background-color: #a8a8a8; /* Change to your desired color */
  }
  
  /* Change progress line color */
  ::ng-deep .ant-slider-track {
    background-color:  rgb(130, 0, 216);/* Change to your desired color */
  }