.toolbar {
    background-color:rgb(255, 255, 255); 
    max-height: 40px;
    border: 1px solid rgba(202, 202, 202, 0.644); 
    justify-content: end;
}

  .progress-tooltip {
    font-size: 14px;
    margin-right: 50px;
    margin-left: 15px;
  }
  .ProgressContainer {
    display: flex;
    justify-content: end;

  }
  .progressBar {
     width: 300px;
  }