.canvas {
  height: calc(100% - 155px);
  width: calc(100% - 60px);
  position: fixed;
  display: flex;
  align-items: center;
  overflow: auto;
  flex-direction: column; 
  justify-content: center;
  background-color: rgb(236, 236, 236);
}

app-footer {
  position: fixed;
  bottom:0;
  width: 100%;
}

app-toolbar {
  position: relative;
  top: 0;
  width: 100%;
} 
.buttons{
align-items: center;
justify-content: center;
display: flex;
gap: 10px;
margin: 10px;
position: relative;

}
.custom-button {
  background-color: transparent;
  margin-left: 7px;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; 
}
.icon-background-less {
background-color: rgb(236, 236, 236);
font-size: 27px;
padding: 2px;
font-weight: 300;
}

.icon-background-less:hover {
background-color: #c5c3c3;
border-radius: 10%; 
} 

#canvas {
  position: fixed;
  border: 2px solid rgba(125, 5, 206, 0.774);
  overflow: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

}

@font-face {
  font-family: 'roguedash' ;
  src: url(/assets/textFonts/Roguedash-Solid.otf);
}

@font-face {
  font-family: 'cathilda' ;
    /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Cathilda-400.otf);
}
  
@font-face {
  font-family: 'myford' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Mayford-Display-Regular-400.otf);
}
@font-face {
  font-family: 'catcut' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Catcut-400.otf);
}
@font-face {
  font-family: 'rainbow' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Rainbow-Layer-400.otf);
}    
@font-face {
  font-family: 'chunkfive' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Chunk-Five-Print.otf);
}  

@font-face {
  font-family: 'milvasten' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Milvasten-Regular-400.otf);
} 
@font-face {
  font-family: 'kleptocracy' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/kleptocracy-titling-ex-bd.otf);
} 
@font-face {
  font-family:  'ph';
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/PH-300-Cond-Caps.otf);
}
@font-face {
  font-family: 'prida01' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Prida01.otf);
}
@font-face {
  font-family: 'prida' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Prida01Light.otf);
}
@font-face {
  font-family: 'burger' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Chieezy-Burger.otf);
}
@font-face {
  font-family: 'demo' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Digital-Glitch-Demo.otf);
}
@font-face {
  font-family: 'portable' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Portable-Creature-Regular.otf);
}
@font-face {
  font-family: 'personal' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Tempting-PERSONAL-USE-ONLY.otf);
}
@font-face {
  font-family: 'those' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Those-Glitch-Regular.otf);
}
@font-face {
  font-family: 'best' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/BestOfTreat-OVdj8.otf);
}
@font-face {
  font-family: 'Dragon' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/DragonHunter-9Ynxj.otf);
}
@font-face {
  font-family: 'love' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/FateOfLove-d9rPg.otf);
}
@font-face {
  font-family: 'Yellow' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Love-of-Yellow.otf);
}
@font-face {
  font-family: 'moron' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Ministry-of-Moron.otf);
}
@font-face {
  font-family: 'neo' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/NeoBulletin-Extruded.otf);
}
@font-face {
  font-family: 'Queen' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Queen-of-Camelot-Outlines.otf);
}
@font-face {
  font-family: 'taku' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Taku.otf);
}
@font-face {
  font-family: 'Tower' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/TowerOfSilence3D-lgD6X.otf);
}
@font-face {
  font-family: 'used' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Used-Servers.otf);
}
@font-face {
  font-family: 'demo' ;
  /* src: url(BungeeSpice-Regular.ttf); */
  src: url(/assets/textFonts/Wonderbar-Demo.otf);
}



.transparent-option {
cursor: pointer;
}

.transparent-square {
width: 20px;
height: 20px;
border: 1px solid #000;
background-color: #fff; /* Default background color */
display: flex;
align-items: center;
justify-content: center;
}

.transparent-square.selected {
background-color: transparent;
}

data-coloris {
width: 100%;
height: 100%;
}
