 .canvas {
    height: calc(100% - 155px);
    width: calc(100% - 60px);
    position: fixed;
    display: flex;
    align-items: center;
    overflow: auto;
    flex-direction: column; 
    justify-content: center;
    background-color: rgb(236, 236, 236);
}

app-footer {
    position: fixed;
    bottom:0;
    width: 100%;
}

app-toolbar {
    position: relative;
    top: 0;
    width: 100%;
} 
.buttons{
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  margin: 10px;

}
.custom-button {
    background-color: transparent;
    margin-left: 7px;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; 
}
.icon-background-less {
  background-color: rgb(236, 236, 236);
  font-size: 27px;
  padding: 2px;
  font-weight: 300;
}

.icon-background-less:hover {
background-color: #c5c3c3;
border-radius: 10%; 
} 
  #canvas {
    border: 2px solid rgb(130, 0, 216);
    overflow: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  /* .canvas-container {
    
  } */



  