
<!-- <div>
    <label for="canvasSize">Canvas Size:</label>
    <select [(ngModel)]="selectedCanvasSize" (change)="onCanvasSizeChange(selectedCanvasSize)">
        <option *ngFor="let size of predefinedSizes" [value]="size.label">{{ size.label }}</option>
      </select>
      
      
  </div> -->

<!-- <select [(ngModel)]="selectedCanvasSizeOption" (change)="changeCanvasSize(selectedCanvasSizeOption)">
  <option value="letter">Letter</option>
  <option value="whiteboard">Whiteboard</option>
  <option value="portrait">Portrait</option>
</select>


<button (click)="addNewCanvas()">
  <span class="material-symbols-outlined">
    note_add
    </span></button> -->
    <!-- Update your template to disable the button when no canvas is selected -->
<!-- <button (click)="deleteCanvas()" [disabled]="!selectedCanvas">Delete Canvas</button> -->


<!-- <app-toolbar (addCanvas)="addNewCanvas()" (changeCanvasSize)="changeCanvasSize($event)"
             [selectedCanvasSizeOption]="selectedCanvasSizeOption" (deletecanvas)="deleteCanvas()">
</app-toolbar> -->

<!-- <div  >
<canvas style="border: 3px solid black;" #canvas id="canvas" height="500" width="500"></canvas>
</div> -->

<!-- canvas.component.html -->


<!-- <div>
  <select (change)="onChangeCanvasSize($event)">
    <option value="700x700">Letter</option>
    <option value="950x600">Landscape</option>
    <option value="450x700">Portrait</option>
  </select>
</div> -->

<!-- <button (click)="exportAsJSON()">Export as JSON</button>
  <button (click)="exportAsPNG()">Export as PNG</button> -->
<!-- <input type="color" [(ngModel)]="selectedColor" (input)="onColorChange($event)"> -->

<!-- <div>
  <input type="range" id="borderWidthSlider" min="0" max="10" [(ngModel)]="borderWidth" (input)="onBorderWidthChange()">
</div> -->

<mat-slider min="1" max="10" step="0.5"  >
  <input matSliderThumb [(ngModel)]="borderWidth" (input)="onBorderWidthChange()">
</mat-slider>

<app-toolbar
    (canvasSizeChanged)="onChangeCanvasSize($event)"
    (transparentBackgroundChanged)="onTransparentBackgroundChange($event)"
    (boldToggled)="toggleBold()" 
    (italicToggled)="toggleItalic()" 
    (underlineToggled)="toggleUnderline()"
    (textColorChanged)="applySelectedTextColor($event)"
    (fontFamilyChanged)="applySelectedFontFamily($event)"
    [borderStyles]="borderStyles"
    [selectedBorderStyle]="selectedBorderStyle"
    (borderStyleChanged)="applyBorderStyle($event)"
  >
</app-toolbar>

<div class="canvas">
  <div #canvasContainer  class="canvas-container" 
    (drop)="onDrop($event)" 
    (dragover)="onDragOver($event)">

  <div class="buttons">    
  <!-- <button class="custom-button" (click)="deleteSelectedObject()">
  <span class="material-symbols-outlined icon-background-less">
   delete
  </span></button> -->

  <button  class="custom-button" (click)="flipSelectedImage()">
    <span class="material-symbols-outlined icon-background-less" >
      flip
      </span>
 </button>

  <button  class="custom-button" (click)="moveObjectBackward()">
    <span class="material-symbols-outlined icon-background-less">
      flip_to_back
      </span>
</button>

<button  class="custom-button" (click)="moveObjectForward()">
 <span class="material-symbols-outlined icon-background-less">
      flip_to_front
      </span>
</button>
  </div>

  
<canvas id='canvas' [height]="canvasHeight" [width]="canvasWidth"></canvas>

</div>
</div>
<app-property></app-property>
<app-footer></app-footer>


