<mat-toolbar color="primary">
    <!-- Logo on the left -->
    <span class="logo" (click)="gotohome()">
        <img src="assets/images/logoo1.png" width="58px" alt="" srcset=""> EditorAI
    </span>
  
    <!-- Centered text box for the project name and save button -->
    <span class="project-input-container">
      <input matInput placeholder="Project Name" [(ngModel)]="projectName" class="project-name">
      <button mat-button class="project-save-btn" (click)="saveProject()">
        <i class="material-symbols-outlined">done</i>
      </button>
    </span>
    
  
    <!-- Links on the right -->
    <span class="nav-links">
      <a href="/my-designs">My Designs</a>
      <a href="/billing">Billing</a>
      <a href="/logout">Logout</a>
    </span>
  </mat-toolbar>
  