<mat-toolbar class="toolbar mat-elevation-z2"> 
  <div style="display: flex;" class="text-container" *ngIf="isTextboxSelected">
  <div class="text-formatting">
    
    <button (click)="toggleBold()" [ngClass]="{'active': isBold}">
      <span class="material-symbols-outlined">
        format_bold
      </span>
    </button>
    
    <button (click)="toggleItalic()" [ngClass]="{'active': isItalic}">
      <span class="material-symbols-outlined">
        format_italic
      </span>
    </button>
    
    <button (click)="toggleUnderline()" [ngClass]="{'active': isUnderline}">
      <span class="material-symbols-outlined">
        format_underlined
      </span>
    </button>
  </div>

  <div class="text-style">
    <select id="fontFamily" #fontFamilySelect (change)="changeFontFamily(fontFamilySelect)" [ngModel]="selectedFontFamily">
      <option *ngFor="let fontFamily of fontFamilies" [value]="fontFamily">{{ fontFamily }}</option>
   
     </select>
  </div>
  <div class="text-color">
    <input type="color" id="fontColor" [(ngModel)]="selectedTextColor" (ngModelChange)="textColorChanged.emit(selectedTextColor)">
  </div>
</div>
<div class="image-container" *ngIf="isImageSelected">
  <span>image-container</span>
 </div>
 
 <!-- Shape container -->
 <div class="shape-container"  *ngIf="isShapeSelected">

<div class="container" >
  <input type="text" data-coloris [(ngModel)]="selectedColor" (ngModelChange)="onColorChange()" />
</div>
<!-- <input type="color" [(ngModel)]="selectedColor" (ngModelChange)="onColorChange()"> -->

<div class="color-picker-container" (click)="openColorPicker()">
  <div class="color-picker-inner-square"></div>
  <input type="color" [(ngModel)]="selectedBorderColor" (input)="changeBorderColor($event)">

</div>
<button (click)="toggleShapeBorderStyle()">
  <span style="font-size: 30px;" class="material-symbols-outlined icon-background-less">
      resize
    </span>
</button>
 </div>



  <div style="display: flex; justify-content: end; width: 100%;">
  <!-- <button (click)="Deletecanvas()" class="custom-button">
    <span class="material-symbols-outlined icon-background-less">
      delete
      </span></button>
      <button (click)="onAddCanvas()" class="custom-button">
        <span class="material-symbols-outlined icon-background-less">
            note_add
        </span>
    </button> -->

<div class="CanvasSize">
  <div class="canvas-container" *ngIf="isCanvasContainerVisible">
    <div class="toolbar-color-container" >
      <input type="color" (input)="changeCanvasColor($event)" class="toolbar-color-button">
    </div>
  
     </div>

  <div class="text-formatting">

  <button (click)="openExportDialog()">
    <span class="material-symbols-outlined">
      download
      </span></button>
</div>
  <div class="canvas-style">
  <select id="canvasSizeDropdown" (change)="onChangeCanvasSize($event)">
    <option value="700x700">Letter</option>
    <option value="950x600">Landscape</option>
    <option value="450x700">Portrait</option>
  </select>
  </div>
</div>

</div>
  </mat-toolbar>
