<mat-toolbar class="toolbar mat-elevation-z2"> 
  <div style="display: flex;" class="text-container" *ngIf="isTextboxSelected">
  <div class="text-formatting">
    <button (click)="toggleItalic()" [class.active]="isItalic"> <!-- Add class "active" when isItalic is true -->
      <span class="material-symbols-outlined">
        format_italic
      </span>
    </button>
  
    <button (click)="toggleBold()" [class.active]="isBold"> <!-- Add class "active" when isBold is true -->
      <span class="material-symbols-outlined">
        format_bold
      </span>
    </button>
  
    <button (click)="toggleUnderline()" [class.active]="isUnderline"> <!-- Add class "active" when isUnderline is true -->
      <span class="material-symbols-outlined">
        format_underlined
      </span>
    </button>
  </div>

  <div class="text-style">
    <select id="fontFamily" #fontFamilySelect (change)="changeFontFamily(fontFamilySelect)">
      <option *ngFor="let fontFamily of fontFamilies" [value]="fontFamily">{{ fontFamily }}</option>
     </select>
  </div>
  <div class="text-color">
    <input type="color" id="fontColor" (input)="applyTextColor($event)">
  </div>
  
  <div class="text-size-control">
    <button (click)="changeTextSize(-1)">-</button>
    <input type="text" [ngModel]="currentTextSize" readonly>
    <button (click)="changeTextSize(1)">+</button>
</div>
</div>
<div class="image-container" *ngIf="isImageSelected">
  <span>image-container</span>
 </div>
 
 <!-- Shape container -->
 <div class="shape-container"  *ngIf="isShapeSelected">
   <span>shape-container</span>
 </div>

  <div style="display: flex; justify-content: end; width: 100%;">
  <!-- <button (click)="Deletecanvas()" class="custom-button">
    <span class="material-symbols-outlined icon-background-less">
      delete
      </span></button>
      <button (click)="onAddCanvas()" class="custom-button">
        <span class="material-symbols-outlined icon-background-less">
            note_add
        </span>
    </button> -->

<div class="CanvasSize">

  <div class="text-formatting">

  <button (click)="exportAsJSON()">
    <span class="material-symbols-outlined">
      code
      </span>
 </button>
  <button (click)="exportAsPNG()">
    <span class="material-symbols-outlined">
      download
      </span></button>


  <select id="canvasSizeDropdown" (change)="onChangeCanvasSize($event)">
    <option value="700x700">Letter</option>
    <option value="950x600">Landscape</option>
    <option value="450x700">Portrait</option>
  </select>
  
</div>
</div>

</div>
  </mat-toolbar>
